[alias]
    s = status -s
    l = log --oneline --decorate
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    pr = pull --rebase
[color]
    ui = auto
[color "branch"]
    current = green reverse
    local = green
    plain = red reverse
    remote = red
[color "diff"]
    frag = yellow reverse
    meta = yellow bold
    new = green bold
    old = red bold
[color "status"]
    added = green
    changed = yellow
    untracked = normal
[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    editor = vim
[user]
    email = hey@fampinheiro.com
    name = Filipe Pinheiro
[includeIf "gitdir:~/dev/github.com/yldio/"]
    path = ~/dev/github.com/yldio/.gitconfig
[includeIf "gitdir:~/dev/gitlab.com/yldio/"]
    path = ~/dev/gitlab.com/yldio/.gitconfig
