[user]
    name = Filipe Pinheiro
    email = EMAIL
[init]
    defaultBranch = main
[core]
    autocrlf = input
    whitespace = fix,space-before-tab,tab-in-indent,trailing-space
    excludesfile = ~/.gitignore_global
    editor = vim
[apply]
    whitespace = fix
[alias]
    s = status -s
    l = log --oneline --decorate
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    pr = pull --rebase
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    plain = red reverse
    remote = green
[color "diff"]
    frag = yellow reverse
    meta = yellow bold
    new = green bold
    old = red bold
[color "status"]
    added = green
    changed = yellow
    untracked = normal
[pull]
    ff = only
[push]
    default = simple
[merge]
    log = true

# custom area
[includeIf "gitdir:~/dev/github.com/yldio/"]
    path = ~/dev/github.com/yldio/.gitconfig
[includeIf "gitdir:~/dev/gitlab.com/yldio/"]
    path = ~/dev/gitlab.com/yldio/.gitconfig
