[alias]
    s = status -s
    l = log --oneline --decorate
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
[color]
    ui = auto
[color "branch"]
    current = green reverse
    local = green
    plain = red reverse
    remote = red
[color "diff"]
    frag = yellow reverse
    meta = yellow bold
    new = green bold
    old = red bold
[color "status"]
    added = green
    changed = yellow
    untracked = normal
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim
[user]
    email = me@fampinheiro.com
    name = Filipe Pinheiro
